<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="menu-title">
                    <ion-list-header>
                        <ion-thumbnail class="ion-margin-end">
                            <ion-img src="assets/icon/favicon.png"></ion-img>
                        </ion-thumbnail>
                        {{ "menu.title" | translate }}
                    </ion-list-header>
                </ion-list>
                <ion-list id="menu-links">
                    <ion-item routerDirection="root" routerLink="/" lines="none" detail="false">
                        <ion-icon slot="start" name="home"></ion-icon>
                        <ion-label>{{ "menu.home" | translate }}</ion-label>
                    </ion-item>
                    <ion-item routerDirection="root" routerLink="/questionnaire" lines="none" detail="false">
                        <ion-icon slot="start" name="chatbubbles"></ion-icon>
                        <ion-label>{{ "menu.questionnaire" | translate }}</ion-label>
                    </ion-item>
                    <ion-item routerDirection="root" routerLink="/results" lines="none" detail="false">
                        <ion-icon slot="start" name="newspaper"></ion-icon>
                        <ion-label>{{ "menu.results" | translate }}</ion-label>
                    </ion-item>
                    <ion-item routerDirection="root" routerLink="/account" lines="none" detail="false">
                        <ion-icon slot="start" name="person"></ion-icon>
                        <ion-label>{{ "menu.account" | translate }}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
            <ion-footer>
                <ion-list id="menu-footer">
                    <ion-item routerDirection="root" routerLink="/settings" lines="none" detail="false">
                        <ion-icon slot="start" name="settings"></ion-icon>
                        <ion-label>{{ "menu.settings" | translate }}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-footer>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
