<ion-list lines="none" >
    <ion-list-header>
        <ion-thumbnail class="profile-pic">
            <ion-img src="assets/img/illustrations/undraw_profile_pic_ic5t.svg"></ion-img>
        </ion-thumbnail>
    </ion-list-header>
    <div *ngIf="(user | async) as user; else loadingBlock">
      <ion-item detail="false">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>
          {{user.firstName}} {{user.lastName}}
        </ion-label>
      </ion-item>

      <ion-item detail="false">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>
          {{user.address.street}} {{user.address.houseNumber}}
        </ion-label>
      </ion-item>

      <ion-item detail="false">
        <ion-icon slot="start" name="compass-outline"></ion-icon>
        <ion-label>
          {{user.address.zip}} {{ user.address.city}}
        </ion-label>
      </ion-item>

      <ion-item detail="false">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-label>
          {{user.email}}
        </ion-label>
      </ion-item>

      <ion-item detail="false">
        <ion-icon slot="start" name="call-outline"></ion-icon>
        <ion-label>
          {{user.phoneNumber}}
        </ion-label>
      </ion-item>
    </div>
</ion-list>

<ng-template #loadingBlock>
    <ion-item detail="false">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>
            <ion-skeleton-text animated></ion-skeleton-text>
        </ion-label>
    </ion-item>

    <ion-item detail="false">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>
            <ion-skeleton-text animated></ion-skeleton-text>
        </ion-label>
    </ion-item>

    <ion-item detail="false">
        <ion-icon slot="start" name="compass-outline"></ion-icon>
        <ion-label>
            <ion-skeleton-text animated></ion-skeleton-text>
        </ion-label>
    </ion-item>

    <ion-item detail="false">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-label>
            <ion-skeleton-text animated></ion-skeleton-text>
        </ion-label>
    </ion-item>

    <ion-item detail="false">
        <ion-icon slot="start" name="call-outline"></ion-icon>
        <ion-label>
            <ion-skeleton-text animated></ion-skeleton-text>
        </ion-label>
    </ion-item>

</ng-template>
